@model IEnumerable<BusinessLayer.Departments>

@{
    ViewBag.Title = "Departments Index";
}

<h2>Departments Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in @Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name,"Index","Employee",new {@DepartmentId=item.ID  },null)
        </td>
        <td>
         
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
    
        </td>
    </tr>
}

</table>

<br /> <br />

@Html.ActionLink("Back To HomePage", "Index", "Home")